[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "bundle/vim-code-dark"]
	path = bundle/vim-code-dark
	url = git@github.com:tomasiser/vim-code-dark.git
